.header {
  z-index: 4;
  display: flex;
  width: 100%;
  padding: 4px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px;
}

.header-left {
  composes: header;
}

.header-right {
  composes: header;
  flex-direction: row-reverse;
}

.header-subheader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow: hidden;
  padding: 0;
  align-content: space-between;
}

.header-subheader-left {
  composes: header-subheader;
}

.header-subheader-right {
  composes: header-subheader;
  flex-direction: row-reverse;
}
