.content-direction {
  overflow-y: auto;
  height: 100%;
}

.content-direction-left {
  composes: content-direction;
  direction: rtl;
}

.content-direction-right {
  composes: content-direction;
  direction: ltr;
}

.content-container {
  direction: ltr;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container[hidden] {
  display: none;
}

.content {
  flex: 1;
}

.content-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.content-mask-left {
  composes: content-mask;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: inset 4px 0 12px -4px rgba(0, 0, 0, 0.4);
}

.content-mask-right {
  composes: content-mask;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: inset -4px 0 12px -4px rgba(0, 0, 0, 0.4);
}

div[class='react-swipeable-view-container'] > div:first-child .content-mask-left {
  box-shadow: none;
}

div[class='react-swipeable-view-container'] > div:last-child .content-mask-right {
  box-shadow: none;
}
