.header-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.header-title-right {
  composes: header-title;
  margin-left: 8px;
}

.header-title-left {
  composes: header-title;
  margin-right: 8px;
}
