.drawer-header {
  z-index: 1;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 4px;
  white-space: nowrap;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px;
}

.drawer-header > :first-child {
  margin-left: 0;
}

.drawer-header > :last-child {
  margin-right: 0;
}

.drawer-header > button {
  margin: 2px;
}
