<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <base href="/ui-router-react-digest/" target="_blank">
    <meta name="viewport" content="initial-scale=1, maximum-scale=5">
	  <meta http-equiv="X-UA-compatible" content="IE=Edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
